h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 28px;
}

#myNotes,
#archivedNotes,
#deletedNotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.noteCard {
    width: 340px;
    min-height: 340px;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 120ms ease-in-out;
}

/* gleiche Größe wie Input */
.noteCard {
    width: 340px;
    min-height: 340px;
}

.noteCard:hover {
    transform: scale(1.03);
}

.noteDeleted:hover {
    transform: scale(1);
}

.noteCard h3 {
    margin-bottom: 12px;
    font-size: 1.5rem;
    word-break: break-word;
}

.noteCard p {
    word-break: break-word;
}

.noteActions {
    position: absolute;
    bottom: 16px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    opacity: 1;
    transition: opacity 125ms ease-in-out;
    z-index: 20;
}

.noteActions button {
    border: none;
    /* background: rgba(255,255,255,0.7); */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: all 125ms ease-in-out;
    z-index: 3;
}

.archiveButton.archived::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    /* Button strikethrough if note is in archive */
    background-color: rgb(0, 0, 0);
    transform: rotate(-20deg);
}

.noteDeleted {
    cursor: default;
    /* background-color: #fff59d; */
    /* opacity: 1; */
    background-image: url("../assets/img/crumpled-paper-1.webp");
}

.noteActions button:hover {
    border: none;
    /* background: rgba(255,255,255,0.7); */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: all 125ms ease-in-out;
    z-index: 3;
    img {
        /* svg-icon-file..change color on hover to red */
        filter: invert(16%) sepia(96%) saturate(7484%) hue-rotate(1deg);
        /* filter: drop-shadow(0px 0px 4px rgb(221, 5, 5)); */
    }
}

@media (max-width: 450px) {
    .noteCard {
        width: 280px;
        min-height: 340px;
    }
    .overlayCard {
        width: 280px;
        min-height: 340px;
    }
}
